<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{{ SITENAME }}{% endblock %} </title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <script src="/static/js/respond.js"></script>
     <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css"/>
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/pygments.css" rel="stylesheet">
    {% if DOCUTIL_CSS %}
        <link href="/static/css/html4css1.css" rel="stylesheet">
    {% endif %}
    {% if TYPOGRIFY %}
        <link href="/static/css/typogrify.css" rel="stylesheet">
    {% endif %}
        <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<header id="top" role="banner" class="navbar navbar-static-top bs-docs-nav">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="{{ url_for('index') }}" class="navbar-brand">{{ SITENAME }} {% if SITESUBTITLE %} - {{ SITESUBTITLE }}{% endif %}</a>
                </div>
                    <ul class="nav navbar-nav pull-right">
                        {% if not session.logged_in %}
                            <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#LogInModal">
                                Einloggen
                            </button>
                        {% else %}
                             <a href="{{ url_for('logout') }}">log out</a>
                        {% endif %}
                        {% for message in get_flashed_messages() %}
                            <div class=flash>{{ message }}</div>
                        {% endfor %}   
                    </ul>
            </div>
        </nav>
    </div>
</header>
<div class="modal fade" id="LogInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        {% if error %}<p class=error><strong>Error:</strong> {{error}}{% endif %}
        <form class="form-group" action="{{url_for('login')}}" method=post>
            <dl>
                <dt><label for="username">Benutzername</label>
                    <dd><input class="form-control" type=text name=username>
                <dt><label for="password">Passwort</label>
                    <dd><input class="form-control" type=password name=password>
                    <dd><input class="btn btn-default" type=submit value=Login>
            </dl>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
