
{% extends "base.html" %}
{% block body %}
  <div class="row">
  <div class="col-md-offset-1 col-md-4">
  <dl>
    {% for idea in ideas %}
      <dt>
        <div class="clearfix">
          <h4>
            <a href="{{url_for('get_idea', idea_id=idea.id)}}">
              {% if idea.status == "new" %}
                <img class="pull-left img-responsive" src="/static/images/new.png">
              {% elif idea.status == "progress" %}
                <img class="pull-left img-responsive" src="/static/images/in_progress.png">
              {% else %}
                <img class="pull-left img-responsive" src="/static/images/done.png">
              {% endif %}
              {{idea.title}}
            </a>
          </h4>
        </div>
      </dt>
    {% else %}
      <dd>
        <em>Nichts da.</em>
      </dd>
    {% endfor %}
  </dl>
  </div>
  {% if session.logged_in %}
    <div class="col-md-offset-1 col-md-4">
      <form role="form" action="{{url_for('add_idea')}}" method=post>
      <div class="form-group">
        {{ form.hidden_tag() }}
        <label for="title">{{ form.title.label }}</label>
        {{ form.title(placeholder="Titel eintragen", class="form-control") }}
      </div>
          <div class="form-group">
        <label for="description">Beschreibung</label>
        {{ form.description(placeholder="Beschreibung eintragen", class="form-control") }}
        <button type="submit" class="btn btn-default">Eintragen</button>
      </div>
      </form>
    </div>
  </div>
  {% endif %}
{% endblock %}

