.caps {
font-size:.92em
}

.amp {
color:#666;
font-size:1.05em;
font-family:"Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",serif;
font-style:italic
}

.dquo {
margin-left:-.38em
}

html {
font:normal 112.5%/1.65 serif
}

body {
-webkit-hyphens:auto;
-moz-hyphens:auto;
-ms-hyphens:auto;
-o-hyphens:auto;
hyphens:auto;
word-wrap:break-word;
color:#444
}
